#all
*

#except
#src
!src/
!src/**
src/h5_to_mysql.py
src/h5_to_json_slicer_not_used.py

#model param
!model_param/
!model_param/heatsink_fno_pino_learnh_4ls/
!model_param/heatsink_fno_pino_learnh_4ls/ckpt_ep120.pt

#eval
!eval/
!eval/**

# gitignore
!.gitignore